* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.head {
    width: 100%;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin: 1rem 1rem;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: black;
    font-size: .9rem;
    font-weight: bold;
}

ul.left {
    float: left;
}

ul.right {
    float: right;
}

.dropbox {
    width: 90px;
}

.btn-blue {
    background-color: #0061ff;
    padding: .6em 2em;
    color: white;
    border: none;
}

.btn-white {
    padding: .6em 2em;
    border: 1px solid black;
}

.btn-transparent {
    background-color: transparent;
    display: block;
}

/* container */

.container-1300 {
    margin: 0 auto;
    max-width: 1300px;
    min-height: 600px;
    padding-top: 4rem;
}

.container-1000 {
    margin: 250px auto;
    max-width: 1000px;
}


.bkg-lightblue {
    width: 100%;
    background-color: #9acfe9;
    position: relative;
}

/* text */

h1 {
    font-size: 4.7rem;
}

.big-text {
    font-size: 2.3rem;
}

.billing {
    font-weight: bold;
    font-size: .9rem;
    margin-right: 10px;
}

.team {
    font-size: 1rem;
    font-weight: lighter;
}

.quality {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
}

.price {
    font-size: .9rem;
    padding-bottom: .5rem;
}

.duration {
    color: gray;
    padding-bottom: 2.5rem;
}

.choice {
    font-size: .9rem;
}

.description {
    font-size: .9rem;
    padding-bottom: 1rem;
}

.contact {
    font-size: 1.5rem;
}



/* immagini */

.fas.fa-arrow-down {
    font-size: 2.5rem;
}

.far,
.fas {
    font-size: .9rem;
    padding-right: .4rem;
}

.jumbo {
    width: 48rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -8%);   
}

.fas.fa-check {
    color: #0061ff;
}

.partner {
    width: 100%;
    background-size: cover;
}

.solutions {
    font-size: .8rem;
    padding: 1.5rem 0;
}

.find {
    padding: 1.5rem 0;
    font-size: 1rem;
    line-height: 1.4rem;
}






.block {
    display: block;
    margin-top: 1.5rem;
    margin-left: 0;
}

.col-left-top {
    width: 28%;
    margin-top: 2rem;
}


.circle {
    margin-top: 50px;
    margin-right: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 50%;
    vertical-align: text-bottom;
}

.circle:hover {
    border: 4px solid blue;
}

.business-main {
    margin-top: 40px;
}

.col-left {
    padding-bottom: 4.3rem;
}

.col-left,
.col-middle {
    margin-right: 20px;
}

.raw {
    width: calc((100% - 30px - 40px) /3);
    border: 1px solid lightgray;
    float: left;
}

.main-top,
.top-bottom {
    width: 100%;
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: .8rem;
}

.main-text {
    margin: 25px;
}

.main-text-bottom {
    padding-top: 20px;
}

.choices {
    margin: 0 auto;
    padding: 1rem 0;
}

.buy {
    color: #3d86ff;
    text-decoration: underline;
}

.choices.b {
    padding-top: 2.5rem;
}

.b {
    width: 100%;
}

.hr {
    margin: 1.2rem  0;
	border-top: 1px solid lightgray;
	width: 20%;
}

.business-bottom {
    width: calc(100% - 30px);
    border: 1px solid lightgray;
    margin-top: 40px;
}

.bot-bottom {
    margin: 25px;
}

.col-70 {
    width: 70%;
    float: left;
}

.col-30 {
    width: 30%;
    float: left;
}

.split {
    margin: 100px 0;
}

.split-left {
    width: 50%;
    float: left;
}

.split-right {
    width: 50%;
    float: left;
}

.split-text {
    margin: 45px;
}


