* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.head {
    width: 100%;
    height: 3rem;
    line-height: calc(3rem - 2px);
    position: fixed;
    z-index: 1;
    background-color: white;
    min-width: 1080px;
}

.head-li:hover {
    border-bottom: 2px solid black;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin: 0 1rem;
}

a {
    text-decoration: none;
    color: black;
    font-size: .9rem;
    font-weight: bold;
}

ul.left {
    float: left;
}

ul.right {
    float: right;
}

.menù {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.sub-menù {
    display: block;
    margin: 0;
    padding: 0 1rem;
}

.sub-a {
    font-weight: lighter;
    font-size: .8rem;
}

.head-li:hover .menù {
    display: block;
}

.sub-menù:hover {
    background-color: lightgray;
}

/* buttons */

.btn-blue {
    background-color: #0061ff;
    padding: .6em 2em;
    color: white;
    border: none;
}

.btn-blue:hover {
    opacity: 0.8;
}

.btn-white {
    padding: .6em 2em;
    border: 1px solid black;
}

.btn-white:hover,
.btn-white-bi:hover {
    background-color: #efefef;
}

.btn-white-bi {
    padding: .6em 2em;
    background-color: white;
    border: none;
    float: right;
}

.btn-transparent {
    background-color: transparent;
}

.circle {
    margin-top: 50px;
    margin-right: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid lightgray;
    border-radius: 50%;
    vertical-align: text-bottom;
}

.circle.double {
    border: 4px solid #0061ff;
}

.bkg-lightblue {
    width: 100%;
    background-color: #9acfe9;
    position: relative;
    padding-top: 2rem;
}

.container-1300 {
    margin: 0 auto;
    max-width: 1300px;
    min-height: 620px;
    padding-top: 4rem;
}

.container-1000 {
    margin: 250px auto 0;
    max-width: 1000px;
}

/* text */

h1 {
    font-size: 4.7rem;
}

.big-text {
    font-size: 2.2rem;
}

.big-text-s {
    font-size: 2.3rem;
}

.billing {
    font-weight: bold;
    font-size: .9rem;
    margin-right: 10px;
}

.team {
    font-size: 1rem;
    font-weight: lighter;
}

.quality {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
}

.price {
    font-size: .9rem;
    padding-bottom: .5rem;
}

.duration {
    color: gray;
    padding-bottom: 2.5rem;
}

.choice {
    font-size: .9rem;
}

.choice.move {
    position: relative;
    padding-left: 1.3rem;
}

.choice.move:before {
    position: absolute;
    left: 0;
}

.choices {
    margin: 0 auto;
    padding: 1rem 0;
}

.buy {
    color: #3d86ff;
    text-decoration: underline;
}

.choices.b {
    padding-top: 2.5rem;
}

.description {
    font-size: .9rem;
    padding-bottom: 1rem;
}

.underline {
    text-decoration: underline;
}

.solutions {
    font-size: .8rem;
    padding: 1.5rem 0;
}

.find {
    padding: 2.5rem 0;
    font-size: 1rem;
    line-height: 1.4rem;
}

.contact {
    font-size: 1.5rem;
}

.contact-text {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    line-height: 1.2rem;
    font-size: 1rem;
}

.big-text-bis {
    font-size: 2rem;
    text-align: center;
    color: #61082b;
    text-align: left;
    float: left;
}

.buy.clients {
    line-height: 4rem;
    font-size: .9rem;
}

.q-a,
.q-a-bi {
    font-weight: bold;
    line-height: 5rem;
    border-top: 1px solid lightgray;
}

.foot-text {
    font-size: 1.3rem;
    padding-bottom: 1.2rem;
}

/* images */

.dropbox {
    width: 90px;
    vertical-align: text-bottom;
}

.fas.fa-arrow-down {
    padding-top: 1.5rem;
    font-size: 2.5rem;
}

.fas.fa-sort-up {
    padding-left: .2rem;
    vertical-align: bottom;
}

.far,
.fas {
    font-size: .9rem;
    padding-right: .2rem;
}

.jumbo {
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-22%, -7%);
}

.fas.fa-check {
    color: #0061ff;
}

.partner {
    width: 100%;
    background-size: cover;
}

.design,
.arizona,
.florida,
.topps,
.world,
.hearst,
.lonely,
.clear {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.design-black {
    padding-top: 2rem;
    width: 25%;
}

/* images end */

.block {
    display: block;
    margin-top: 1.5rem;
    margin-left: 0;
}

.col-left-top {
    max-width: 28%;
    margin-top: 2rem;
}

.business-main {
    margin-top: 40px;
}

.col-left.pad {
    padding-bottom: 4.3rem;
}

.raw-bis.col-left,
.raw-bis.col-middle,
.raw.col-left,
.raw.col-middle {
    margin-right: 40px;
}

.raw {
    width: calc((100% - 80px) /3);
    border: 1px solid lightgray;
    float: left;
}

.raw-bis {
    width: calc((100% - 80px) /3);
    float: left;
    padding-bottom: 5rem;
}

.main-top,
.top-bottom {
    width: 100%;
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: .8rem;
}

.main-text {
    margin: 25px;
}

.main-text-bottom {
    padding-top: 20px;
}

.b {
    width: 100%;
}

.hr {
    margin: 1.2rem  0;
	border-top: 1px solid lightgray;
	width: 20%;
}

.hr-bis,
.hr-foot {
    margin: 2rem  0;
	border-top: 1px solid lightgray;
	width: 10%;
}

.hr-foot {
    padding-bottom: 2.5rem;
}

.business-bottom {
    width: calc(100% - 30px);
    border: 1px solid lightgray;
    margin-top: 40px;
}

.bot-bottom {
    margin: 25px;
}

.col-70 {
    width: 70%;
    float: left;
}

.col-30 {
    width: 30%;
    float: left;
}

.split {
    margin: 100px 0;
}

.split-left {
    width: 50%;
    float: left;
}

.split-right {
    width: 50%;
    float: left;
}

.split-text {
    margin: 45px;
}

.items-bottom {
    margin-top: 50px;
}

.square-top {
    width: 51%;
}

.square {
    margin-top: 40px;
}

.square-middle {
    width: 40%;
    height: 400px;
    padding: 0 2.5rem;
    float: left;
    overflow: auto;
    background-color: #f5f5f5;
}

.square-left,
.square-right {
    width: calc((100% - 40%) / 2);
    float: left;
}

.square-a,
.square-b,
.square-c,
.square-d,
.square-e,
.square-f,
.square-g,
.square-h {
    width: 50%;
    height: 200px;
    float: left;
    position: relative;
}

.square-a {
    background-color: #a2d39b;
    border: 8px solid #d0e9cd;
}

.square-b {
    background-color: #61082b;
}

.square-c {
    background-color: #0093ce;
}

.square-d {
    background-color: #ff1c1c;
}

.square-e {
    background-color: #d5001f;
}

.square-f {
    background-color: #b4dde7;
}

.square-g {
    background-color: #0d2481;
}

.square-h {
    background-color: #ffd830;
}

.square-bottom {
    width: 100%;
    background-color: #b4dde7;
}

.square-bot {
    margin-top: 0;
    padding: 6rem 0;
}

.square-bot-left {
    width: 40%;
}

.questions {
    margin-top: 6rem;
}

.question {
    margin: 4rem 0;
}

.q-shadow {
    padding-bottom: 2rem;
}

.answer {
    width: 80%;
    font-size: .9rem;
    color: gray;
    line-height: 1.3rem;
    padding: 1rem 0;
}

.q-block.bottom {
    border-bottom: 1px solid lightgray;
}

.q-block {
    position: relative;
}

.q-a {
    display: block;
}

.q-shadow {
    display: none;
}

.q-block:hover .q-a {
    display: none;
}

.q-block:hover .q-shadow {
    display: block;
}

.chevron {
    float: right;
}

.footer-page {
    background-color: black;
}

.foot-container {
    min-height: 520px;
}

.column {
    margin-left: 0;
    color: white;
    padding-bottom: 4.5rem;
    float: left;
}

.foot-list {
    display: block;
    margin-top: 1rem;
    margin-left: 0;
    padding-right: 3.5rem;
}

.foot-link {
    color: white;
    font-weight: lighter;
}

.foot-link:hover {
    border-bottom: 1px solid white;
}

.lang {
    color: gray;
}